In [1]:
myfile=r'/Users/lalitsachan/Dropbox/0.0 Data/winequality-white.csv'

import pandas as pd
from sklearn.preprocessing import scale
from sklearn.cluster import KMeans
from sklearn.metrics import  silhouette_score

import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

%matplotlib inline

wine=pd.read_csv(myfile,sep=";")

In [2]:
wine=wine[["sulphates","alcohol"]]

In [3]:
wine.head()

   sulphates  alcohol
0       0.45      8.8
1       0.49      9.5
2       0.44     10.1
3       0.40      9.9
4       0.40      9.9

In [4]:
wine.agg(['mean','std'])

      sulphates    alcohol
mean   0.489847  10.514267
std    0.114126   1.230621

In [ ]:
from sklearn.preprocessing import StandardScaler
st=StandardScaler()
# minmax scaler

In [ ]:
wine_std=pd.DataFrame(st.fit_transform(wine),
                      columns=list(wine.columns))

In [ ]:
wine_std.agg(['mean','std'])

In [ ]:
from sklearn.cluster import AgglomerativeClustering

In [ ]:
for n_clusters in range(2,10):
    cluster_model = AgglomerativeClustering(n_clusters=n_clusters, affinity='euclidean',linkage='ward')
    cluster_labels = cluster_model.fit_predict(wine_std)
    silhouette_avg = silhouette_score(wine_std,cluster_labels,metric='euclidean')
    print("For n_clusters =", n_clusters, 
          "The average silhouette_score is:", silhouette_avg)

In [ ]:
hclus=AgglomerativeClustering(n_clusters=3, affinity='euclidean',linkage='ward')

In [ ]:
labels_hclus=hclus.fit_predict(wine_std)

In [ ]:
wine['cluster_hclus']=labels_hclus

In [ ]:
sns.lmplot(fit_reg=False,x='sulphates',y='alcohol',data=wine,hue='cluster_hclus')

In [ ]:
range_n_clusters = [2, 3, 4, 5, 6,7,8,9]

In [ ]:
for k in range_n_clusters:
    kmeans=KMeans(n_clusters=k)
    kmeans.fit(wine_std)
    
    print(k,silhouette_score(wine_std,kmeans.labels_))

In [ ]:
k = 3
kmeans = KMeans(n_clusters=k)
kmeans.fit(wine_std)

In [ ]:
labels = kmeans.labels_
wine["cluster"]=labels

In [ ]:
wine['cluster'].value_counts()

In [ ]:
wine.groupby(['cluster']).mean()

In [ ]:
import seaborn as sns

In [ ]:
%matplotlib inline

In [ ]:
sns.lmplot(fit_reg=False,x='sulphates',y='alcohol',data=wine,hue='cluster')

In [ ]:
wine.head()

# DBSCAN

In [ ]:

mydata=pd.read_csv("/Users/lalitsachan/Dropbox/0.0 Data/moon_data.csv").iloc[:,1:]
mydata.head()

In [ ]:
sns.lmplot('X','Y',data=mydata,fit_reg=False)

In [ ]:
kmeans=KMeans(n_clusters=2)
kmeans.fit(mydata)
mydata["cluster"]=kmeans.labels_

In [ ]:
sns.lmplot('X','Y',data=mydata,hue='cluster',fit_reg=False)

In [ ]:
from sklearn.cluster import DBSCAN

In [ ]:
del mydata['cluster']

In [ ]:
db = DBSCAN(eps=0.1, min_samples=30, metric='euclidean').fit(mydata)
mydata['cluster']=db.labels_
sns.lmplot('X','Y',data=mydata,hue='cluster',fit_reg=False)

In [ ]:
pd.Series(db.labels_).value_counts()

# anamoly detection with dbscan

In [ ]:
myfile=r'/Users/lalitsachan/Dropbox/PDS V3/Data/Wholesale customers data.csv'

groc=pd.read_csv(myfile)

groc=groc[["Milk","Grocery"]]

groc_std=pd.DataFrame(scale(groc),columns=list(groc.columns))

In [ ]:
sns.lmplot(x='Milk',y='Grocery',data=groc,fit_reg=False)

In [ ]:
r

In [ ]:
r=np.linspace(0.5,4,10)
for epsilon in r:
    db = DBSCAN(eps=epsilon, min_samples=20, metric='euclidean').fit(groc_std)
    labels = db.labels_
#     n_clust=len(set(labels))-1
    outlier=np.round((labels == -1).sum()/len(labels)*100,2)
#     print('Estimated number of clusters: %d', n_clust)
    print("For epsilon =", epsilon ,", percentage of outliers is: ",outlier)

In [ ]:
db = DBSCAN(eps=0.88, min_samples=20, metric='euclidean').fit(groc_std)
groc['cluster']=db.labels_

In [ ]:
sns.lmplot(x='Milk',y='Grocery',data=groc,fit_reg=False,hue='cluster')