In [1]:
file=r'/Users/lalitsachan/Dropbox/0.0 Data/census_income.csv'

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [3]:
import pandas as pd
import numpy as np

In [4]:
from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.base import BaseEstimator, TransformerMixin

In [5]:
from sklearn.preprocessing import StandardScaler

In [6]:
cd=pd.read_csv(file)

In [7]:
cd.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,Y
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [9]:
from sklearn.model_selection import train_test_split

In [10]:
cd1,cd2=train_test_split(cd,test_size=0.2,random_state=0)

In [11]:
# cd1.select_dtypes(include=['object']).columns
num_cols=['age', 'fnlwgt', 'education.num', 'capital.gain', 
          'capital.loss',
       'hours.per.week']
cat_cols=['workclass',  'marital.status', 'occupation',
       'relationship', 'race', 'sex', 'native.country']

In [ ]:
# cd1.select_dtypes(include=['object']).columns

In [12]:
class VarSelector(BaseEstimator, TransformerMixin):
    
    def __init__(self,var_names):
        self.vars=var_names
    
    def fit(self,x,y=None):
        return self
    
    def transform(self,X):
        return X[self.vars]

In [13]:
class get_dummies_Pipe(BaseEstimator, TransformerMixin):
    
    def __init__(self,freq_cutoff=0):
        self.freq_cutoff=freq_cutoff
        self.var_cat_dict={}
        
    def fit(self,x,y=None):
        
        data_cols=x.columns
        
        for col in data_cols:
            
            k=x[col].value_counts()
            cats=k.index[k>self.freq_cutoff][:-1]
            self.var_cat_dict[col]=cats
            
        return self
            
    def transform(self,x,y=None):
        
        dummy_data=x.copy()
        
        for col in self.var_cat_dict.keys():
            
            for cat in self.var_cat_dict[col]:
                name=col+'_'+cat
                dummy_data[name]=(dummy_data[col]==cat).astype(int)
            del dummy_data[col]
            
        return dummy_data

In [14]:
num_pipe=Pipeline([
    ('num_var_select',VarSelector(num_cols)),
    ('standard',StandardScaler())
])

In [15]:
cat_pipe=Pipeline([
    ('cat_var_select',VarSelector(cat_cols)),
    ('create_dummies',get_dummies_Pipe(100))
])

In [16]:
data_pipe=Pipeline([
    ('features',FeatureUnion([
        ('cat_pipe',cat_pipe),
        ('num_pipe',num_pipe)
    ]))
])

In [20]:
data_pipe.fit(cd1)

In [19]:
cd1.shape

(26048, 15)

In [ ]:
from sklearn.externals import joblib
joblib.dump(data_pipe,'data_pipeline.pkl')

## pipelines can also include predictive models 
## stacked models can also be converted into pipelines 
## pipelines can be tuned for hyperparameters

### using this data_pipeline

In [ ]:
file=r'/Users/lalitsachan/Dropbox/0.0 Data/census_income.csv'
import pandas as pd
import numpy as np
from sklearn.pipeline import Pipeline,FeatureUnion
from sklearn.externals import joblib
from mypipes import *

In [ ]:
data_pipe=open('data_pipeline.pkl','rb')

In [ ]:
dp=joblib.load(data_pipe)

In [ ]:
data=pd.read_csv(file)

In [ ]:
ready_data=dp.transform(data)

In [ ]:
ready_data.shape