# t-sne

In [ ]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale
from sklearn.manifold import TSNE

In [ ]:
from sklearn import datasets
digits = datasets.load_digits()
# Take the first 500 data points: it's hard to see 1500 points
X = digits.data[:500]
y = digits.target[:500]

In [ ]:
X.shape

In [ ]:
pd.DataFrame(X).head()

In [ ]:
from sklearn.manifold import TSNE
tsne = TSNE(n_components=2, random_state=0)

In [ ]:
X_2d = tsne.fit_transform(X)

In [ ]:
mydata=pd.DataFrame(X_2d,columns=['X','Y'])

In [ ]:
mydata['digits']=y

In [ ]:
mydata

In [ ]:
import seaborn as sns
%matplotlib inline

In [ ]:
sns.lmplot('X','Y',hue='digits',data=mydata,fit_reg=False)

# tsne on wine data

In [ ]:
wine=pd.read_csv(r'/Users/lalitsachan/Dropbox/0.0 Data/winequality-white.csv',sep=";")

In [ ]:
wine.head()

In [ ]:
X=scale(wine.iloc[:,:-1])

In [ ]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_score

In [ ]:
for k in range(2,10):
    kmeans=KMeans(n_clusters=k)
    kmeans.fit(X)
    
    print(k,silhouette_score(X,kmeans.labels_))

In [ ]:
kmeans=KMeans(n_clusters=3)

In [ ]:
kmeans.fit(X)

In [ ]:
X_2d=tsne.fit_transform(X)

In [ ]:
mydata=pd.DataFrame(X_2d,columns=['X','Y'])

In [ ]:
mydata['cluster']=kmeans.labels_

In [ ]:
sns.lmplot('X','Y',data=mydata,fit_reg=False)

In [ ]:
sns.lmplot('X','Y',hue='cluster',data=mydata,fit_reg=False)

In [ ]:
mydata['quality'].value_counts()

# PCA

In [1]:
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
from sklearn.preprocessing import scale

In [2]:
file=r'/Users/lalitsachan/Dropbox/PDS V3/Data/rg_train.csv'

In [3]:
bd=pd.read_csv(file)

In [4]:
bd.head()

,REF_NO,children,age_band,status,occupation,occupation_partner,home_status,family_income,self_employed,self_employed_partner,...,Investment.Tax.Saving.Bond,Home.Loan,Online.Purchase.Amount,Revenue.Grid,gender,region,Investment.in.Commudity,Investment.in.Equity,Investment.in.Derivative,Portfolio.Balance
0,2148,1,45-50,Partner,Professional,Professional,Rent Privately,">=35,000",Yes,Yes,...,7.49,2.48,0.0,2,Female,South West,65.87,9.27,30.93,87.48
1,8099,1,61-65,Partner,Retired,Retired,Own Home,"<12,500, >=10,000",No,No,...,0.00,3.99,0.0,2,Female,Unknown,42.46,4.49,26.23,110.73
2,6611,3,31-35,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,0.00,0.00,0.0,2,Male,East Anglia,75.38,0.00,26.66,127.57
3,1950,Zero,55-60,Partner,Professional,Professional,Own Home,">=35,000",No,No,...,2.00,0.00,0.0,2,Female,North West,34.78,6.91,29.24,33.79
4,10857,2,51-55,Partner,Manual Worker,Manual Worker,Own Home,"<27,500, >=25,000",Yes,Yes,...,0.00,0.00,0.0,2,Female,South West,48.58,9.58,20.65,56.17

In [5]:
bd=bd.select_dtypes(exclude=['object'])
bd.drop(['REF_NO','year_last_moved','Revenue.Grid'],1,inplace=True)

In [6]:
bd.columns

Index(['Average.Credit.Card.Transaction', 'Balance.Transfer', 'Term.Deposit',
       'Life.Insurance', 'Medical.Insurance', 'Average.A.C.Balance',
       'Personal.Loan', 'Investment.in.Mutual.Fund',
       'Investment.Tax.Saving.Bond', 'Home.Loan', 'Online.Purchase.Amount',
       'Investment.in.Commudity', 'Investment.in.Equity',
       'Investment.in.Derivative', 'Portfolio.Balance'],
      dtype='object')

In [ ]:
bd.shape

In [ ]:
bd.corr()

In [ ]:
import seaborn as sns
%matplotlib inline

In [ ]:
sns.heatmap(bd.corr())

In [ ]:
bd.shape

In [ ]:
X=bd.copy()
X = scale(X)
pca = PCA(n_components=15)
pca.fit(X)
pca.components_.shape

In [ ]:
var= np.round(pca.explained_variance_ratio_,3)

print(var)

In [ ]:
var1=np.cumsum(np.round(pca.explained_variance_ratio_, decimals=4)*100)

print(var1)

In [ ]:
pca = PCA(n_components=11)
pca.fit(X)
pca.components_.shape

In [ ]:
X1=pd.DataFrame(pca.transform(X))

In [ ]:
X1.head()

### individual pc loadings

In [ ]:
# pc1
loadings=pca.components_[1]
# loadings

In [ ]:
list(zip(bd.columns,loadings))

In [ ]:
sns.heatmap(X1.corr())